.grid-layout {
    display: grid;
    grid-template-columns: repeat(11, 65px);
    grid-template-rows: repeat(12, 65px);
    justify-content: center;
    margin-top: 40px;
    transform: translateX(-30px);
    height: auto;
}


.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: visible;
}

.wrapper-bg {
    background: linear-gradient(90deg, #026670 0%, #033f5a 50%, #4c934c 100%);
    min-height: 100vh; /* Ensures it takes at least the full viewport height */
    height: 100%;
    overflow: visible;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.around-the-world-title {
    color: white;
    font-size: 2rem;
}

.colored-globe {
    width: 68.3px;
    height: 75px;
    margin-right: 10px;
}

.reverse-img {
    transform: scaleX(-1);
    margin-left: 10px;
}


.back-of-card {
    width: 65px;
    height: 97.5px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0rem;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease; /* Smooths the transform effect */
}

.group1{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
    transform: rotate(270deg);
}

.group2{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
    transform: rotate(288deg);

}

.group3{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
    transform: rotate(306deg);
}

.group4{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
    transform: rotate(324deg);
}

.group5{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 6;
    transform: rotate(342deg);
}

.group6{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 6;
    grid-column-end: 7;
    transform: rotate(0deg);
}

.group7{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 7;
    grid-column-end: 8;
    transform: rotate(18deg);
}

.group8{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 8;
    grid-column-end: 9;
    transform: rotate(36deg);
}

.group9{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 9;
    grid-column-end: 10;
    transform: rotate(54deg);
}

.group10{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 10;
    grid-column-end: 11;
    transform: rotate(72deg);
}

.group11{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 11;
    grid-column-end: 12;
    transform: rotate(90deg);
}

.group12{
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 10;
    grid-column-end: 11;
    transform: rotate(108deg);
}

.group13{
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 9;
    grid-column-end: 10;
    transform: rotate(126deg);
}

.group14{
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 8;
    grid-column-end: 9;
    transform: rotate(144deg);
}

.group15{
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 7;
    grid-column-end: 8;
    transform: rotate(162deg);
}

.group16{
    grid-row-start: 11;
    grid-row-end: 12;
    grid-column-start: 6;
    grid-column-end: 7;
    transform: rotate(180deg);
}

.group17{
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 5;
    grid-column-end: 6;
    transform: rotate(198deg);
}

.group18{
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 4;
    grid-column-end: 5;
    transform: rotate(216deg);
}

.group19{
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 3;
    grid-column-end: 4;
    transform: rotate(234deg);
}

.group20{
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 3;
    transform: rotate(252deg);
}

.guess-btn {
    color: black;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooths the color change */
}

.guess-btn-active {
    background-color: lightgreen;
    color: white;
    border: 2px solid black;
}
