.HomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: lightblue;
    height: 100vh;
  }
  
  .home-text-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
  }

  .icons-container {
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
  }

  nav {
    background-color: #333;
    color: #fff;
    width: 100%;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav li a {
    color: #fff;
    text-decoration: none;
  }
  
  .content {
    margin-top: 50px;
    text-align: center;
  }
  
  .home-title-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }

  .beer-logo {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }

  .home-title {
    font-size: 55px;
    font-weight: bold;
    color:#333;
    text-align: center;
  }

  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    width: 80%;
    margin-right:auto;
    margin-left:auto;
  }

  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .horse{
    width: 80px;
    height: 80px;
  }

  .power{
    width: 80px;
    height: 80px;
  }

  .bus {
    width: 100px;
    height: 80px;
  }

  .world {
    width: 80px;
    height: 80px;
  }

