iframe {
  /* Set the size of the iframe */
  width: 600px;
  height: 600px;

  /* Set the animation properties */
  animation-name: spin-and-scale;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes spin-and-scale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  10% {
    transform: rotate(0deg) scale(2.5);
  }
  20%{
    transform: rotate(0deg) scale(1);
  }
  60% {
    transform: rotate(360deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}


.stopwatch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 400px;
    font-family: sans-serif;
    text-align: center;
  }
  
  .time-display {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
  
  .track-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .header {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  
  .reactPlayer {
    margin-bottom: 1rem;
    display: none;
  }
  
  .controls {
    display: flex;
    justify-content: center;
  }
  
  button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0062cc;
  }
  